[Desktop Entry]
Name=Python Calculator
Comment=Simple calculator built with Python and CustomTkinter
Exec=python-calculator
Icon=python-calculator
Terminal=false
Type=Application
Categories=Utility;Calculator;
